charity-springjpa/src/main/webapp/WEB-INF/xsd/Registration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://nicordesigns.com/xmlns/registration"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:registration="http://nicordesigns.com/xmlns/registration">
    <xs:element name="registrationsRequest" type="registration:registrationsRequestType" />
    <xs:element name="registrationRequest" type="registration:selectRegistrationType" />
    <xs:element name="createRegistration" type="registration:createRegistrationType"/>
    <xs:element name="deleteRegistration" type="registration:selectRegistrationType"/>
    <xs:element name="registration" type="registration:registrationType" />
    <xs:element name="registrations" type="registration:registrationsType" />
    <xs:complexType name="registrationType">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="userName" minOccurs="0"/>
            <xs:element type="xs:string" name="subject"/>
            <xs:element type="xs:string" name="body"/>
            <xs:element type="registration:attachmentType" name="attachment"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="registrationsRequestType">
    <xs:sequence>
        <xs:element name="registration" type="registration:registrationType" minOccurs="0" maxOccurs="unbounded"/>
        <!-- or other elements -->
    </xs:sequence>
	</xs:complexType>
    <xs:complexType name="selectRegistrationType">
        <xs:sequence>
            <xs:element type="xs:long" name="id"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createRegistrationType">
        <xs:sequence>
            <xs:element type="registration:registrationType" name="registration"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="registrationsType">
        <xs:sequence>
            <xs:element type="registration:registrationType" name="registration" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attachmentType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="mimeContentType"/>
            <xs:element type="xs:base64Binary" name="contents"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
